<mat-card class="recipe-card mat-elevation-z7" [routerLink]="['/recipes/view', recipe?.id]">
  <mat-card-header>
    <mat-card-title>{{recipe?.title}}</mat-card-title>
    <mat-card-subtitle style="font-size: 1.25em;">{{getCategoryName(recipe?.category)}}</mat-card-subtitle>
    <div class="recipe-header-icons">
      <mat-chip-list>
        <mat-chip>
          <span class="recipe-detail-icon">
            <mat-icon>speed</mat-icon>
            <app-level-badge [level]="recipe?.difficulty"></app-level-badge>
          </span>
        </mat-chip>
        <mat-chip>
          <span class="recipe-detail-icon">
            <mat-icon>timer</mat-icon>
            <span>{{recipe?.preparationTimeMinutes}} min.</span>
          </span>
        </mat-chip>
        <mat-chip>
          <span class="recipe-detail-icon">
            <mat-icon>person</mat-icon>
            <span>{{recipe?.portions}} os.</span>
          </span>
        </mat-chip>
        <mat-chip (click)="addFavourite($event)" class="clickable-chip">
          <span class="recipe-detail-icon no-margin">
            <app-fav-badge [isFav]="recipe?.isFavourite"></app-fav-badge>
          </span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-header>
  <mat-card-content>
    <img class="recipe-img" mat-card-lg-image [src]="getImageUrl(recipe)" [alt]="recipe?.title">
    <span class="recipe-description">{{recipe?.shortDescription}}</span>
  </mat-card-content>
</mat-card>
