<mat-card class="recipe-card mat-elevation-z7">
  <mat-card-header>
    <mat-card-title>{{recipe?.title}}</mat-card-title>
    <mat-card-subtitle>{{getCategoryName(recipe?.category)}}</mat-card-subtitle>
    <div class="recipe-header-icons">
      <mat-chip-list>
        <mat-chip>
          <span class="recipe-detail-icon"><mat-icon>speed</mat-icon>
            <app-level-badge [level]="recipe?.difficulty"></app-level-badge>
          </span>
        </mat-chip>
        <mat-chip>
          <span class="recipe-detail-icon"><mat-icon>timer</mat-icon>
            {{recipe?.preparationTimeMinutes}} min.</span>
        </mat-chip>
        <mat-chip>
          <span class="recipe-detail-icon"><mat-icon>person</mat-icon>
            {{recipe?.portions}} os.</span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-header>
  <mat-card-content>
    <img class="recipe-img" mat-card-lg-image [src]="recipe?.imageUrl" alt="">
    <span class="recipe-description">{{recipe?.description}}</span>
  </mat-card-content>
</mat-card>
